<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>
        Assalamualaikum,<br />
        my name is<br />
        Nik Malik
      </h1>
      <h3>My journey to the world.</h3>
    </header>
    <!--<p>-->
      <!--My journey to the world.-->
    <!--</p>-->
    <!--<ul class="actions">-->
      <!--<li><a href="#" class="button big">Learn More</a></li>-->
    <!--</ul>-->
  </div>
  <span class="image object">
      <img src="assets/images/banner.jpg" alt="" />
    </span>
</section>
